---
import LinkButton from "./LinkButton.astro";
import DownloadIcon from "../icons/DownloadDocIcon.astro";
---
<div class="text-xl font-light text-sky-950 dark:[&>p>strong]:text-yellow-200 [&>p>strong]:text-yellow-500 [&>p>strong]:text-xl [&>strong]:font-semibold dark:text-white/80 space-y-4 pb-14">
    <p>
        My name is <strong>Melvic Sosa</strong>, a Web Developer with 10+ years of experience in web development. <strong>I'm passionate about creating and improving web applications to provide the best user experience</strong> . I'm also a team player, always eager to learn and share my knowledge with others.
    </p>

    <p>
       If you are looking for a web developer who can help you with your project, feel free to contact me downloading my resume. I'm always open to new opportunities.
    </p>
    <LinkButton class="bg-sky-600" href="/docs/MELVIC-RESUME-2025.pdf">
        <DownloadIcon class="size-6" />
        Download Resume
    </LinkButton>
</div>
